.main {
  display: grid;
  grid-template-areas: "pads drum-machine";
  margin: 10vh auto;
  border: #222 solid 3px;
  max-width: 80%;
  min-height: 50vh;
}

#display {
  grid-area: drum-machine;
  justify-self: center;
}

.pads {
  grid-area: pads;
  justify-self: center;
  display: grid;
  grid-template-areas: "auto auto auto";
  min-width: 100%;
  border-right: #222 solid 1px;
}

.drum-pad {
  color: #333;
  background-color: #ccc;
  border: #222 solid 2px;
  font-size: 32px;
}

.drum-pad:hover {
  background-color: #aaa;
}